<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <h3>Sales</h3>
        <canvas id="chart">
          {{ chart }}
        </canvas>
        <ul>
          <li *ngFor="let item of hola">{{ item }}</li>
        </ul>

      </div>
    </div>
  </div>
</div>


<!-- <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="'doughnut'"
                [options]="doughnutChartOptions">
        </canvas> -->
